<h2><%= @task.title %></h2>

<p><%= @task.details %></p>

<% if @task.completed %>
  <i class="fa fa-check-square-o"></i> Completed
<% else  %>
  <i class="fa fa-square-o"></i> Not complet
<% end %>

<%= link_to tasks_path do %>
  <i class="fa fa-history"></i> Back to list
<% end %>
<br>
<%= link_to task_edit_path(@task.id), class: 'pull-right btn btn-default' do %>
  <i class="fa fa-pencil"></i> Edit this task
<% end %>

